/* Off Canvas */
body.off-canvas {
	padding: 0;
	margin: 0;
}

.top-bar {
	height: 36px !important;
	margin: 0 0 0px;
	padding: 0;
	min-height: 34px; 
	line-height: 34px;
	width: 100% !important;
	background: #ffffff;
}

.top-bar .attached {
	margin: 0 auto;
	position: relative;
	height: 36px;
	/* width: 980px; */
	background: #0e0e0e;
	color: #787878;
	font-family: "Helvetica", Arial, sans-serif;	
	border-bottom: 1px solid #333333;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);		
}

.top-bar a
{
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.main-nav a
{
    color:#2e2e2e;
}

.main-nav a>span
{
    font:.55em/1 sans-serif;
    position:relative;
    top:-.2em;
}


.top-bar>ul .name h1 {
	line-height: 34px;
	margin: 0;
}

.top-bar>ul .name h1 a {
	font-weight: bold;
	padding: 0 22.5px;
	font-size: 17px !important;
}

.top-bar>ul .name img {
	margin-top: -5px;
	vertical-align: middle;
}

.top-bar a {
	color: #ffffff;
	font-weight: normal ;
}

.top-bar .attached>.name span>a {
	background-image: none;
	font-weight: normal;
}

.top-bar .attached>ul {
	display: block;
	margin: 0;
	padding: 0
}

.top-bar .attached>ul>li {
	display: block;
	height: 34px;
	float: left;
	/*border-right: 0px solid #dadada;*/
	position: relative
}

.top-bar .attached>ul>li>a,.top-bar .attached>ul>li>span {
	display: block;
	height: 32px;
	padding: 0 20px;
	/*border-right: 1px solid #dadada; */
	font-weight: normal
}

.top-bar .attached>ul>li>a small {
	font-size: 12px;
	color: #787878;
	font-weight: normal
}


.top-bar img {
	display: block;
}

.top-bar .js-generated {
	display: none;
}


/* sub menu --------------------- */
/*popup submenus*/

.submenu-box {
    margin-bottom: 15px;
    padding: 0 0 0 20px;
}

.submenu-box {
    border: 1px solid #22252D;
    display: none;
    left: 50%;
    margin-left: -144px;
    min-width: 240px;
    padding: 20px;
    position: absolute;
    top: 34px;
    z-index: 100;
	background:#22252d url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjUyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTNlNGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #22252d 0%, #474c57 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#22252d), color-stop(100%,#474c57)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #22252d 0%,#474c57 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #22252d 0%,#474c57 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #22252d 0%,#474c57 100%); /* IE10+ */
	background: linear-gradient(to bottom, #22252d 0%,#474c57 100%); /* W3C */	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
   -webkit-box-shadow: 1px 1px 7px 1px rgba(255, 255, 255, 0.0980392);
   box-shadow: 1px 1px 7px 1px rgba(255, 255, 255, 0.0980392);
  	
}

.submenu-box:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #22252D;
    border-image: none;
    border-style: solid;
    border-width: 11px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -11px;
    position: absolute;
    top: -23px;
    width: 0;
}

.top-bar .submenu-box {
    min-width: 175px;
    margin-left: -115px;
    padding-bottom: 13px;
    padding-top: 13px;
    top: 40px;
}

.submenu-box ol,
.submenu-box li {
    clear: both;
    float: none;
    list-style: none;
    padding: 0;
}

.top-bar .submenu-box a {
    font: 400 12px/22px Segoe UI,Tahoma,Arial,sans-serif;
}

.top-bar div.submenu-box h3 a,
.submenu-box a {
    color: #C1C1C1;
    font: 18px/30px Segoe UI,Tahoma,Arial,Sans-serif;
}

.submenu-box a:hover,
.top-bar div.submenu-box h3 a:hover {
    color: #fff;
}

div.submenu-box h4 {
    color: #787A7F;
    font: 400 9px/1.4 Segoe UI Semibold,Segoe UI,Tahoma,Arial,Sans-serif;
    margin: 0;
    text-transform: uppercase;
}

div.submenu-box h3,
div.submenu-box h3 a {
    color: #D1D1D1;
    font: 400 16px/1.4 Segoe UI,Tahoma,Arial,Sans-serif;
    margin: 0;
}

.submenu-box hr {
    border-color: #1B1D23 transparent #3E4149;
    border-style: solid none;
    border-width: 1px 0;
    margin: 13px 0;
    padding: 0;
}

div.submenu-box ol {
    clear: none;
    float: right;
    margin: 0;
    min-width: 95px;
}

#resources-first {
    float: left;
    width: 140px;
}

/* user profile panel */
.user-profile-panel {
	display: none;
}

/* signin window ----------------- */

.signin_window {
	display: none;
	padding-top: 29px; 
	width: 250px; 
	top:50px; 
	z-index: 10000;
	position: absolute;
	text-align: left;
	right: 10px;
	padding: 12px;
}



.signin_window p {
	margin: 0;
}

.signin_window a {
	color: #ffffff;
}

.signin_window label {
	font-weight: normal;	
	color: #787878; 
	display: block;
	padding-bottom:5px;
	padding-top:5px;
}

.signin_window p.remember {
	padding: 10px 0;
}

.signin_window p.forgot, .signin_window p.complete {
	clear: both;
	margin: 5px 0;
}

.signin_window p a {
	color: #787878 !important;
}