/* Off Canvas */
body.off-canvas {
	padding: 0;
	margin: 0;
}

.container {
	width: 100%;
}

.row .row {
	overflow: visible;
}

.paneled .container {
	overflow: hidden;
}

.paneled .row {
	width: 100%;
}

/*------------------------------------------------*/
/* Container START                                    */
/*------------------------------------------------*/
.container.top-bar {
	margin-bottom: 0;
}
/*------------------------------------------------*/
/* Container END                                       */
/*------------------------------------------------*/
/*------------------------------------------------*/
/* Top-bar */
/*------------------------------------------------*/
.top-bar .attached {
	max-width: 100%;
}

/*------------------------------------------------*/
/* Dorpdown login menu START                  */
/*------------------------------------------------*/

/*------------------------------------------------*/
/* Switch Checkbox SECTION START              */
/*------------------------------------------------*/
.Switch {
	position: relative;
	display: inline-block;
	font-size: 1.6em;
	font-weight: bold;
	color: #ccc;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
	height: 18px;
	padding: 6px 6px 5px 6px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	background: #ececec;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1), inset 0px 1px 3px 0px
		rgba(0, 0, 0, 0.1);
	cursor: pointer;
	font-size: 16px;
}

body.IE7 .Switch {
	width: 78px;
}

.Switch span {
	display: inline-block;
	width: 35px;
}

.Switch span.On {
	color: #33d2da;
}

.Switch .Toggle {
	position: absolute;
	top: 1px;
	width: 37px;
	height: 25px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	background: #fff;
	background: -moz-linear-gradient(top, #ececec 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec),
		color-stop(100%, #ffffff) );
	background: -webkit-linear-gradient(top, #ececec 0%, #ffffff 100%);
	background: -o-linear-gradient(top, #ececec 0%, #ffffff 100%);
	background: -ms-linear-gradient(top, #ececec 0%, #ffffff 100%);
	background: linear-gradient(top, #ececec 0%, #ffffff 100%);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
	z-index: 999;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
}

.Switch.On .Toggle {
	left: 2%;
}

.Switch.Off .Toggle {
	left: 54%;
}

/* Round Switch */
.Switch.Round {
	padding: 0px 20px;
	border-radius: 40px;
}

body.IE7 .Switch.Round {
	width: 1px;
}

.Switch.Round .Toggle {
	border-radius: 40px;
	width: 14px;
	height: 14px;
}

.Switch.Round.Off .Toggle {
	left: 3%;
	background: #33d2da;
}

.Switch.Round.On .Toggle {
	left: 58%;
}

.info {
	font-size: 9pt;
	margin-bottom: 4px;
}

/*------------------------------------------------*/
/* jGrowl MESSAGE BOX SECTION START       */
/*------------------------------------------------*/
div.jGrowl {
	padding: 10px;
	z-index: 9999;
	color: #fff;
	font-size: 12px;
}

/** Special IE6 Style Positioning **/
div.ie6 {
	position: absolute;
}

div.ie6.top-right {
	right: auto;
	bottom: auto;
	left: expression((       0 -       jGrowl.offsetWidth +       (    
		  document.documentElement.clientWidth ?    
		  document.documentElement.clientWidth :      
		document.body.clientWidth)+ 
		  (  
		 ignoreMe2=    document.documentElement.scrollLeft?    document.documentElement.scrollLeft:
		
		
		 document.body.scrollLeft ) )+    'px' );
	top: expression((       0 +       (       ignoreMe =     
		 document.documentElement.scrollTop ?     
		 document.documentElement.scrollTop :       document.body.scrollTop) )+
		 
		 'px' );
}

div.ie6.top-left {
	left: expression((       0 +       (       ignoreMe2 =    
		  document.documentElement.scrollLeft ?    
		  document.documentElement.scrollLeft :       document.body.scrollLeft
		) )+ 
		  'px' );
	top: expression((       0 +       (       ignoreMe =     
		 document.documentElement.scrollTop ?     
		 document.documentElement.scrollTop :       document.body.scrollTop) )+
		 
		 'px' );
}

div.ie6.bottom-right {
	left: expression((       0 -       jGrowl.offsetWidth +       (    
		  document.documentElement.clientWidth ?    
		  document.documentElement.clientWidth :      
		document.body.clientWidth)+ 
		  (  
		 ignoreMe2=    document.documentElement.scrollLeft?    document.documentElement.scrollLeft:
		
		
		 document.body.scrollLeft ) )+    'px' );
	top: expression((       0 -       jGrowl.offsetHeight +       (    
		  document.documentElement.clientHeight ?    
		  document.documentElement.clientHeight :     
		 document.body.clientHeight)+  
		 (    ignoreMe=    document.documentElement.scrollTop?    document.documentElement.scrollTop:
		
		
		 document.body.scrollTop ) )+    'px' );
}

div.ie6.bottom-left {
	left: expression((       0 +       (       ignoreMe2 =    
		  document.documentElement.scrollLeft ?    
		  document.documentElement.scrollLeft :       document.body.scrollLeft
		) )+ 
		  'px' );
	top: expression((       0 -       jGrowl.offsetHeight +       (    
		  document.documentElement.clientHeight ?    
		  document.documentElement.clientHeight :     
		 document.body.clientHeight)+  
		 (    ignoreMe=    document.documentElement.scrollTop?    document.documentElement.scrollTop:
		
		
		 document.body.scrollTop ) )+    'px' );
}

div.ie6.center {
	left: expression((       0 +       (       ignoreMe2 =    
		  document.documentElement.scrollLeft ?    
		  document.documentElement.scrollLeft :       document.body.scrollLeft
		) )+ 
		  'px' );
	top: expression((       0 +       (       ignoreMe =     
		 document.documentElement.scrollTop ?     
		 document.documentElement.scrollTop :       document.body.scrollTop) )+
		 
		 'px' );
	width: 100%;
}

/** Normal Style Positions **/
div.jGrowl {
	position: absolute;
}

body>div.jGrowl {
	position: fixed;
}

div.jGrowl.top-left {
	left: 0px;
	top: 0px;
}

div.jGrowl.top-right {
	right: 0px;
	top: 0px;
}

div.jGrowl.bottom-left {
	left: 0px;
	bottom: 0px;
}

div.jGrowl.bottom-right {
	right: 0px;
	bottom: 0px;
}

div.jGrowl.center {
	top: 0px;
	width: 50%;
	left: 25%;
}

/** Cross Browser Styling **/
div.center div.jGrowl-notification,div.center div.jGrowl-closer {
	margin-left: auto;
	margin-right: auto;
}

div.jGrowl div.jGrowl-notification,div.jGrowl div.jGrowl-closer {
	background-color: #000;
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85 );
	zoom: 1;
	width: 235px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-align: left;
	display: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.jGrowl div.jGrowl-notification {
	min-height: 40px;
}

div.jGrowl div.jGrowl-notification div.jGrowl-header {
	font-weight: bold;
	font-size: .85em;
}

div.jGrowl div.jGrowl-notification div.jGrowl-close {
	z-index: 99;
	float: right;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
}

div.jGrowl div.jGrowl-closer {
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
	font-size: .9em;
	font-weight: bold;
	text-align: center;
}

/** Hide jGrowl when printing **/
@media print {
	div.jGrowl {
		display: none;
	}
}