
.layout * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.unlayout * {
	-moz-box-sizing: none;
	-webkit-box-sizing: none;
	box-sizing: none;
}

/* body */
/* Naver nanumgothic font ---------------------- */
@font-face {
	font-family: "BM_NANUMGOTHIC";
	src: url('../fonts/nanumgothic.eot');
	src: local('☺'), url('../fonts/nanumgothic.woff') format('woff'), url('../fonts/nanumgothic.woff') format('truetype');
}

/* Kendoui customize----------------------- */
.k-button.k-upload-button {
	min-width: 120px;
}
/* Bootstrap customize---------------------- */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "나눔 고딕", "BM_NANUMGOTHIC";
}

.modal-footer{
	/*background-color: #F5F5F5;	*/
}
.page-header {
	margin: 15px 0 15px;	
}

/** Main body ------------------------------------ */
body {
	padding: 0;
	margin: 0;
	font-family: "나눔 고딕", "BM_NANUMGOTHIC";
	font-weight: normal;
	font-style: normal;
	position: relative;
}

.bg-gray{
	background-color: #E5E5E5;	
}

.scrollable {
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	position:absolute;
	overflow-x:hidden;
	overflow-y:auto;
}


.panel-header-actions {
	float: right;
	padding-top:2px;
	
}

/** block */

.round-block  {
position: relative;
margin: 0px 0;
padding: 15px 0 0;
background-color: #fff;
border: 1px solid #ddd;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

/** forms */
textarea {
	font-family: "나눔 고딕", "BM_NANUMGOTHIC";	
}

input {
	font-family: "나눔 고딕", "BM_NANUMGOTHIC";	
}

a.k-button:hover {	
	text-decoration:none;
}

a.k-link:hover {	
	text-decoration:none;
}

/** SPACE */
.blank-top-0 {
	padding-top: 0px;	
}

.blank-bottom-0 {
	padding-bottom: 0px;	
}

.blank-top-5 {
	padding-top: 5px;	
}
.blank-top-10 {
	padding-top: 10px;	
}
.blank-top-15 {
	padding-top: 15px;	
}
.blank-bottom-5 {
	padding-top: 5px;	
}

.blank-top-50{
	padding-top : 50px;
}

.blank-top-60 {
	padding-top : 60px;
}

.blank-top-66 {
	padding-top : 66px;
}
			
			
.blank-space-5{
	padding: 5px;	
}

.blank-space-0{
	padding: 0px;	
}

.blank-margin-0{
	margin: 0px;	
}


.space-top {
	padding-top: 5px;
}



.no-margin-bottom {
	margin-bottom:0;
}

.bottomspace {
	padding-bottom: 5px;
}

.block-space-5 {
	padding: 5px;	
}

.block-space-10 {
	padding: 10px;	
}

.box {
	padding: 2px;
}

.big-box {
	padding: 5px;
}

.gray {
	background-color: #F5F5F5;
}

.gray-big-box {
	padding: 5px;
	background-color: #F5F5F5;
}

.gray-box {
	background-color: #F5F5F5;
	padding: 2px;
}

.topless {
	padding-top: 0px;
}

.bottomless {
	padding-bottom: 0px;
	boder-bottom-width: 0px;
}

.boder-bottomless-box {
	padding: 5px;
	border-style: solid;
	border-color: #dadada;
	border-width: 1px 1px 0;
}

.bottomspace {
	padding-bottom: 5px;
}

.leftless {
	padding-left: 0px;
}

.rightless {
	padding-right: 0px;
}

.light-gray {
	background-color: #F5F5F5;
}

#mainContent {
	margin-top: 22px;
	margin-bottom: 11px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 11px;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}

/* ------------------------------- */
/* TOPBAR                             */
/* ------------------------------- */
#account {
	position: absolute;
	right: 5px;
	top: 0
}

#account-button {
	display: block;
	position: relative;
	line-height: 44px;
	padding: 3px 25px 3px 0;
	width: 36px;
	color: #303233;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	z-index: 9;
	height: 50px;
	margin: 0;
	cursor: pointer
}

#account-button>i {
	position: absolute;
	top: 24px;
	right: 5px;
	display: block;
	color: rgba(0, 0, 0, 0.25);
	background: url(/images/common/header/dropdown.png);
	width: 7px;
	height: 6px
}

#account-button.dropped>i {
	color: rgba(0, 0, 0, 0.45)
}

@media ( max-device-width : 640px) {
	#account-button {
		height: 43px;
		padding: 0 25px 0 0
	}
}

#account-button .avatar-container {
	position: relative;
	display: block;
	height: 28px;
	width: 28px;
	margin: 9px 9px 0 17px;
	border-radius: 2px 2px 0 0;
	background: #fff
}

#account-button.dropped .avatar-container {
	margin: 3px 9px 0 11px;
	border: 6px solid #fff;
	border-right-width: 15px;
	border-bottom-width: 4px;
	-webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 1px 0 0
		rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 1px 0 0 rgba(0, 0, 0, 0.15),
		-1px 0 0 rgba(0, 0, 0, 0.15)
}

#account-button .avatar-container:after {
	left: 0;
	top: 0;
	height: 28px;
	width: 28px;
	position: absolute;
	z-index: 9;
	content: "";
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8)
}

#account-button .avatar-wrapper {
	height: 28px;
	width: 28px;
	display: inline-block;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5);
	background: #d4d5d9 url(/images/common/header/placeholder-user.png) 50% 4px no-repeat;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 4px;
	background-size: 28px 27px;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: rgb(212, 213, 217);
}

#account-button .avatar-wrapper.loaded {
	-webkit-box-shadow: none;
	box-shadow: none
}

#account-button .avatar-wrapper img {
	display: block;
	height: 28px;
	width: 28px;
	border: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

#account-button img.loading {
	visibility: hidden
}

#account-dropdown {
	display: none;
	position: absolute;
	width: 200px;
	top: 44px;
	right: 1px;
	background: #fff;
	border-radius: 2px 0 2px 2px;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.44), 0 1px 2px rgba(0, 0, 0, 0.22);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.44), 0 1px 2px rgba(0, 0, 0, 0.22);
	border: none
}

@media ( max-device-width : 640px) {
	#account-dropdown {
		top: 40px
	}
}

#account-dropdown ul {
	margin: 0;
	padding: 5px 0
}

#account-dropdown li.text {
	display: block;
	margin: 0;	
	padding: 3px 0 3px 10px;
	font-size: 11px;
	line-height: 16px;
	color: #A2A3A3;
	text-align: left;
	text-shadow: none;
	text-decoration: none;
	outline: none
}


#account-dropdown li a {
	display: block;
	margin: 0;
	padding: 3px 0 3px 10px;
	font-size: 11px;
	line-height: 16px;
	color: #A2A3A3;
	text-align: left;
	text-shadow: none;
	text-decoration: none;
	outline: none
}

#account-dropdown li:hover a {
	color: #6A6B6D
}

#account-dropdown li .icon {
	float: left;
	height: 14px;
	width: 14px;
	margin: 1px 7px 0 0;
	background: url( /images/common/header/icons.png ) no-repeat;
	background-size: 28px 56px;
	vertical-align: text-bottom
}

#account-dropdown li.video .icon {
	background-position: 0 0
}

#account-dropdown li.video:hover .icon {
	background-position: -14px 0
}

#account-dropdown li.settings .icon {
	background-position: 0 -14px
}

#account-dropdown li.settings:hover .icon {
	background-position: -14px -14px
}

#account-dropdown li.shutdown .icon {
	background-position: 0 -28px
}

#account-dropdown li.shutdown:hover .icon {
	background-position: -14px -28px
}

#account-dropdown li.logout .icon {
	background-position: 0 -42px
}

#account-dropdown li.logout:hover .icon {
	background-position: -14px -42px
}

#account-dropdown li.shutdown {
	display: none
}

.jolios #account-dropdown li.shutdown {
	display: block
}

.jolios #account-dropdown li.logout {
	display: none
}

body.offline #account-dropdown li.logout {
	display: none
}

body.offline:not (.jolios ) #account {
	display: none
}

#account-dropdown li a:active {
	color: #555;
	background: #f0f0f1;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebedef), to(#f0f0f1));
	background: -webkit-linear-gradient(top, #ebedef, #f0f0f1);
	background: -moz-linear-gradient(top, #ebedef, #f0f0f1);
	background: -o-linear-gradient(top, #ebedef, #f0f0f1);
	background: -ms-linear-gradient(top, #ebedef, #f0f0f1);
	background: linear-gradient(to bottom, #ebedef, #f0f0f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebedef', endColorstr='#f0f0f1', GradientType=0);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05)
}

@media screen and (max-width: 1023px) {
	#wrapper {
		left: 0
	}
	body:not (.no-sidebar ) #wrapper.translate {
		-webkit-transform: translateX(221px);
		-moz-transform: translateX(221px);
		-o-transform: translateX(221px);
		-ms-transform: translateX(221px);
		transform: translateX(221px)
	}
	#wrapper #loading,#wrapper #topbar {
		border-top-left-radius: 0
	}
	#wrapper #content,#wrapper #desktop {
		border-bottom-left-radius: 0
	}
	#wrapper.translate #loading,#wrapper.translate #topbar {
		border-top-left-radius: 4px
	}
	#wrapper.translate #content,#wrapper.translate #desktop {
		border-bottom-left-radius: 4px
	}
}
/* Tables */


/*------------------------------------------------*/
/* jGrowl MESSAGE BOX SECTION START       */
/*------------------------------------------------*/
div.jGrowl {
	padding: 10px;
	z-index: 9999;
	color: #fff;
	font-size: 12px;
}

/** Special IE6 Style Positioning **/
div.ie6 {
	position: absolute;
}

div.ie6.top-right {
	right: auto;
	bottom: auto;
	left: expression((         0 -         jGrowl.offsetWidth +         (     
		   document.documentElement.clientWidth ?     
		   document.documentElement.clientWidth :       
		 document.body.clientWidth)+  
		  (   
		 ignoreMe2=     document.documentElement.scrollLeft?     document.documentElement.scrollLeft:
		 document.body.scrollLeft))+     'px');
	top: expression((         0 +         (         ignoreMe =      
		  document.documentElement.scrollTop ?      
		  document.documentElement.scrollTop :         document.body.scrollTop
		))+ 		 
		 'px');
}

div.ie6.top-left {
	left: expression((         0 +         (         ignoreMe2 =     
		   document.documentElement.scrollLeft ?     
		   document.documentElement.scrollLeft :        
		document.body.scrollLeft))+  
		  'px');
	top: expression((         0 +         (         ignoreMe =      
		  document.documentElement.scrollTop ?      
		  document.documentElement.scrollTop :         document.body.scrollTop
		))+ 		 
		 'px');
}

div.ie6.bottom-right {
	left: expression((         0 -         jGrowl.offsetWidth +         (     
		   document.documentElement.clientWidth ?     
		   document.documentElement.clientWidth :       
		 document.body.clientWidth)+  
		  (   
		 ignoreMe2=     document.documentElement.scrollLeft?     document.documentElement.scrollLeft:		
		 document.body.scrollLeft))+     'px');
	top: expression((         0 -         jGrowl.offsetHeight +         (     
		   document.documentElement.clientHeight ?     
		   document.documentElement.clientHeight :      
		  document.body.clientHeight)+   
		 (     ignoreMe=     document.documentElement.scrollTop?     document.documentElement.scrollTop:		
		 document.body.scrollTop))+     'px');
}

div.ie6.bottom-left {
	left: expression((         0 +         (         ignoreMe2 =     
		   document.documentElement.scrollLeft ?     
		   document.documentElement.scrollLeft :        
		document.body.scrollLeft))+  
		  'px');
	top: expression((         0 -         jGrowl.offsetHeight +         (     
		   document.documentElement.clientHeight ?     
		   document.documentElement.clientHeight :      
		  document.body.clientHeight)+   
		 (     ignoreMe=     document.documentElement.scrollTop?     document.documentElement.scrollTop:		
		 document.body.scrollTop))+     'px');
}

div.ie6.center {
	left: expression((         0 +         (         ignoreMe2 =     
		   document.documentElement.scrollLeft ?     
		   document.documentElement.scrollLeft :        
		document.body.scrollLeft))+  
		  'px');
	top: expression((         0 +         (         ignoreMe =      
		  document.documentElement.scrollTop ?      
		  document.documentElement.scrollTop :         document.body.scrollTop
		))+ 		 
		 'px');
	width: 100%;
}

/** Normal Style Positions **/
div.jGrowl {
	position: absolute;
}

body>div.jGrowl {
	position: fixed;
}

div.jGrowl.top-left {
	left: 0px;
	top: 0px;
}

div.jGrowl.top-right {
	right: 0px;
	top: 0px;
}

div.jGrowl.bottom-left {
	left: 0px;
	bottom: 0px;
}

div.jGrowl.bottom-right {
	right: 0px;
	bottom: 0px;
}

div.jGrowl.center {
	top: 0px;
	width: 50%;
	left: 25%;
}

/** Cross Browser Styling **/
div.center div.jGrowl-notification,div.center div.jGrowl-closer {
	margin-left: auto;
	margin-right: auto;
}

div.jGrowl div.jGrowl-notification,div.jGrowl div.jGrowl-closer {
	background-color: #000;
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
	zoom: 1;
	width: 235px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-align: left;
	display: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.jGrowl div.jGrowl-notification {
	min-height: 40px;
}

div.jGrowl div.jGrowl-notification div.jGrowl-header {
	font-weight: bold;
	font-size: .85em;
}

div.jGrowl div.jGrowl-notification div.jGrowl-close {
	z-index: 99;
	float: right;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
}

div.jGrowl div.jGrowl-closer {
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
	font-size: .9em;
	font-weight: bold;
	text-align: center;
}

/** Hide jGrowl when printing **/
@media print {
	div.jGrowl {
		display: none;
	}
}