/* import naver nanumgothic font ---------------------- */
@font-face {
	font-family: "BM_NANUMGOTHIC";
	src: url('../fonts/nanumgothic.eot');
	src: local('☺'), url('../fonts/nanumgothic.woff') format('woff'), url('../fonts/nanumgothic.woff') format('truetype');
}