@font-face {
	font-family: 'ecoico';
	src:url('../fonts/timelineicons/ecoico.eot');
	src:url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
		url('../fonts/timelineicons/ecoico.woff') format('woff'),
		url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
		url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
} 

.cbp_tmtimeline h2.nounderline, .cbp_tmtimeline h3.nounderline, .cbp_tmtimeline h4.nounderline { 
	border-bottom: 0px ;
}

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #afdcf8;
	left: 20%;
	margin-left: -10px;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 2.9em;
	color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #6cbfee;
}


/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 25%;
	background: #3594cb;
	color: #fff;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: #6cbfee;
}


.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #3594cb;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #6cbfee;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #46a4da;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #afdcf8;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}

.cbp_tmicon-phone:before {
	content: "\e000";
}

.cbp_tmicon-screen:before {
	content: "\e001";
}

.cbp_tmicon-mail:before {
	content: "\e002";
}

.cbp_tmicon-earth:before {
	content: "\e003";
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #3594cb;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #6cbfee;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}	
}

/*Timeline v2
------------------------------------*/
.timeline-v2 {
	padding: 0;
	list-style: none;
	position: relative;
} 

/* The line */
.timeline-v2 > li{
	position: relative;
}

.timeline-v2:before {
	top: 0;
	bottom: 0;
	left: 22%;
	width: 4px;
	content: '';
	background: #f3f3f3;
	position: absolute;
	margin-left: -14px;
}

/* The date/time */
.timeline-v2 > li .cbp_tmtime {
	width: 25%;
	display: block;
	position: absolute;
	padding-right: 80px;
}

.timeline-v2 > li .cbp_tmtime span {
	top: 9px;
	display: block;
	text-align: right;
	position: relative;
}

.timeline-v2 > li .cbp_tmtime span:first-child {
	color: #999;
	font-size: 14px;
	line-height: 0.9;
}

.timeline-v2 > li .cbp_tmtime span:last-child {
	color: #585f69;
	font-size: 20px;
	font-weight: normal;

}

/* Right content */
.timeline-v2 > li .cbp_tmlabel {
	color: #fff;
	padding: 10px 20px 20px;
	background: #f3f3f3;
	line-height: 1.4;
	clear: both;
	position: relative;
	border-radius: 5px;
	margin: 0 0 40px 25%;
}

/*
.timeline-v2 > li .cbp_tmlabel img.big-thumb {
	width: 100%;
}
*/

.timeline-v2 > li .cbp_tmlabel li {
	padding: 0;
}

/*
.timeline-v2 > li .cbp_tmlabel img.small-thumb {
	width: 111px;
	height: auto;
}
*/

.timeline-v2 > li .cbp_tmlabel h2, .timeline-v2 > li .cbp_tmlabel h3, .timeline-v2 > li .cbp_tmlabel h4 { 
	margin-top: 0px;
	font-size: 21px;
	padding: 0 0 5px;
	margin-bottom: 10px;
	text-transform: capitalize;
	border-bottom: 1px solid #ddd;	
}

.timeline-v2 > li .cbp_tmlabel .text-left {
	float: left;
}

/* The triangle */
.timeline-v2 > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #f3f3f3;
	border-width: 10px;
	top: 18px;
}

/* The icons */
.timeline-v2 > li .cbp_tmicon {
	top: 22px;
	left: 22%;
	width: 10px;
	height: 10px;
	position: absolute;
	background: #72c02c;
	margin: 0 0 0 -17px;
	box-shadow: 0 0 0 4px #f3f3f3;
	-webkit-font-smoothing: antialiased;
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.timeline-v2 > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.timeline-v2:before {
		display: none;
	}

	.timeline-v2 > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.timeline-v2 > li .cbp_tmtime span {
		text-align: left;
	}

	.timeline-v2 > li .cbp_tmlabel {
		padding: 1em;
		font-weight: 400;
		margin: 0 0 30px 0;
	}

	.timeline-v2 > li .cbp_tmlabel:after {
		left: 20px;
		top: -20px;
		right: auto;
		border-bottom-color: #f3f3f3;
		border-right-color: transparent;
	}

	.timeline-v2 > li .cbp_tmicon {
		left: auto;
		float: right;
		position: relative;
		margin: -55px 5px 0 0px;
	}	
}